.form {
  margin-top: 60px;
  &__input {
    border-radius: 5px;
    height: 52px;
    width: 50%;
    padding: 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--dark-color);

    &::placeholder {
      color: rgba(40, 41, 68, 0.7);
    }
  }
  &__btn {
    margin-left: 24px;
  }
}
