<section class="benefints section__offset">
  <div class="container benefits__container">
    <div class="benefits__tagline tagline">Our benefits</div>
    <div class="benefits__title title">That’s how we do it</div>

    <div class="tabs" data-tabs="benefits__tabs">
      <ul class="tabs__nav">
        <li class="tabs__nav-item">
          <button class="tabs__nav-btn btn-reset" type="button">
            Experienced Tutors
          </button>
        </li>
        <li class="tabs__nav-item">
          <button class="tabs__nav-btn btn-reset" type="button">
            Feedback & Support
          </button>
        </li>
        <li class="tabs__nav-item">
          <button class="tabs__nav-btn btn-reset" type="button">
            24/7 Online Library
          </button>
        </li>
        <li class="tabs__nav-item">
          <button class="tabs__nav-btn btn-reset" type="button">
            Community
          </button>
        </li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="tabs__wrapper">
            <div class="tabs__contant">
              <div class="tabs__contant--title">Only practicing tutors</div>
              <div class="tabs__contant--text">
                Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames
                dictum suspendisse. Morbi mauris cras massa ut dolor quis sociis
                mollis augue. Nunc, sodales tortor sit diam mi amet massa.
                Fermentum diam diam sociis vestibulum. Nulla nisl accumsan, id
                dignissim massa ut amet. Amet enim, nisi tempus vehicula.
              </div>
            </div>

            <img
              loading="lazy"
              src="img/benefits_1.jpg"
              class="benefits__image"
              width="600"
              height="440"
              alt="ben_1"
            />
          </div>
        </div>
        <div class="tabs__panel">
          <div class="tabs__contant--title">Feedback & Support</div>
          <div class="tabs__contant--text">
            Hello! We are ready to check, because of what such restrictions are
            observed. To do this, please write to us in private messages the
            connection address to the apartment number and contact phone number.
          </div>
        </div>
        <div class="tabs__panel">
          <div class="tabs__contant--title">24/7 Online Library</div>
          <div class="tabs__contant--text">
            “On our side, the write-off is canceled instantly. Then it's up to
            the banking system. With all our desire, we cannot somehow speed up
            the return process (although we would only be happy). Sometimes
            money comes in the first 24 hours, sometimes in 7 days, and
            sometimes ... "
          </div>
        </div>
        <div class="tabs__panel">
          <div class="tabs__contant--title">Community</div>
          <div class="tabs__contant--text">
            "Hello. Please write in private messages the mail from your profile
            on Avito and describe the situation. Let's figure out why it's not
            possible to publish an ad and see what difficulty arose with the
            documents. We respond to customer complaints...”
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
