<section class="certificate">
  <div class="container certificate__container">
    <div class="certificate__left">
      <div class="certificate__tagline tagline">Createx Certificate</div>
      <div class="certificate__title title">
        Your expertise will be confirmed
      </div>
      <div class="certificate__descr">
        We are accredited by international professional organizations and
        institutes:
      </div>
      <div class="certificate__logo">
        <img
          loading="lazy"
          src="img/certificate_1.jpg"
          class="image"
          width="105"
          height="50"
          alt="cer_1"
        />
        <img
          loading="lazy"
          src="img/certificate_2.png"
          class="image"
          width="105"
          height="50"
          alt="cer_1"
        />
        <img
          loading="lazy"
          src="img/certificate_3.png"
          class="image"
          width="105"
          height="50"
          alt="cer_1"
        />
      </div>
    </div>
  </div>
</section>
