<section class="courses section__offset" id="courses">
  <div class="container courses__container">
    <div class="courses__header">
      <div>
        <div class="courses__tagline tagline">Ready to learn?</div>
        <div class="courses__title title">Featured Courses</div>
      </div>
      <button class="btn-reset btn--nc">View all courses</button>
    </div>

    <div class="courses__wrapper">
      <!-- #1 -->

      <div class="courses__card card">
        <img
          loading="lazy"
          src="img/courses_1.png"
          class="card__image1"
          width="214"
          height="214"
          alt="teacher_#_1
          "
        />

        <div class="card__content">
          <div class="card__job">Marketing</div>
          <div class="card__descr">The Ultimate Google Ads Training Course</div>
          <div class="card__price">
            $100 <span class="card__author"> | by Jerome Bell</span>
          </div>
        </div>
      </div>

      <!-- #2 -->

      <div class="courses__card card">
        <img
          loading="lazy"
          src="img/courses_2.png"
          class="card__image1"
          width="214"
          height="214"
          alt="teacher_#_1
          "
        />
        <div class="card__content">
          <div class="card__job">Management</div>
          <div class="card__descr">Prduct Management Fundamentals</div>
          <div class="card__price">
            $480 <span class="card__author"> | by Marvin McKinney</span>
          </div>
        </div>
      </div>

      <!-- #3 -->

      <div class="courses__card card">
        <img
          loading="lazy"
          src="img/courses_3.png"
          class="card__image1"
          width="214"
          height="214"
          alt="teacher_#_1
          "
        />
        <div class="card__content">
          <div class="card__job">HR & Recruting</div>
          <div class="card__descr">HR Management and Analytics</div>
          <div class="card__price">
            $200<span class="card__author"> | by Leslie Alexander Li</span>
          </div>
        </div>
      </div>

      <!-- #4 -->

      <div class="courses__card card">
        <img
          loading="lazy"
          src="img/courses_4.png"
          class="card__image1"
          width="214"
          height="214"
          alt="teacher_#_1
          "
        />
        <div class="card__content">
          <div class="card__job">Marketing</div>
          <div class="card__descr">Brand Management & PR Communications</div>
          <div class="card__price">
            $530<span class="card__author"> | by Kristin Watson</span>
          </div>
        </div>
      </div>
      <!-- #5 -->

      <div class="courses__card card">
        <img
          loading="lazy"
          src="img/courses_5.png"
          class="card__image1"
          width="214"
          height="214"
          alt="teacher_#_1
          "
        />
        <div class="card__content">
          <div class="card__job purp">Management</div>
          <div class="card__descr">Business Development Management</div>
          <div class="card__price">
            $400<span class="card__author"> | by Dianne Russell</span>
          </div>
        </div>
      </div>
      <!-- #6 -->

      <div class="courses__card card">
        <img
          loading="lazy"
          src="img/courses_6.png"
          class="card__image1"
          width="214"
          height="214"
          alt="teacher_#_1
          "
        />
        <div class="card__content">
          <div class="card__job">Design</div>
          <div class="card__descr">Graphic Design Basic</div>
          <div class="card__price">
            $500<span class="card__author"> | by Guy Hawkins</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
