<section class="events" id="events">
  <div class="container events__container">
    <div class="events__tagline tagline">Our Events</div>
    <div class="events__title title">Lectures & workshops</div>

    <div class="events__contant">
      <!-- #1 -->
      <div class="events__item">
        <div class="events__item--wrapper">
          <div class="events__item--num">05</div>
          <div class="events__item--data">
            <div class="events__item--month">August</div>
            <div class="events__item--time">11:00 – 14:00</div>
          </div>
          <div class="events__item--text">
            <div class="events__item--caption">
              Formation of the organizational structure of the company in the
              face of uncertainty.
            </div>
            <div class="events__item--descr">Onine master-class</div>
          </div>
        </div>
        <button class="btn-reset btn--nc events__btn">View more</button>
      </div>
      <!-- #2 -->
      <div class="events__item">
        <div class="events__item--wrapper">
          <div class="events__item--num">24</div>
          <div class="events__item--data">
            <div class="events__item--month">July</div>
            <div class="events__item--time">11:00 – 12:30</div>
          </div>
          <div class="events__item--text">
            <div class="events__item--caption">
              Building a customer service department. Best Practices.
            </div>
            <div class="events__item--descr">Onine lecture</div>
          </div>
        </div>
        <button class="btn-reset btn--nc events__btn">View more</button>
      </div>
      <!-- #3 -->
      <div class="events__item">
        <div class="events__item--wrapper">
          <div class="events__item--num">16</div>
          <div class="events__item--data">
            <div class="events__item--month">July</div>
            <div class="events__item--time">10:00 – 13:00</div>
          </div>
          <div class="events__item--text">
            <div class="events__item--caption">
              How to apply methods of speculative design in practice.
              Worldbuilding prototyping.
            </div>
            <div class="events__item--descr">Onine workshop</div>
          </div>
        </div>
        <button class="btn-reset btn--nc events__btn">View more</button>
      </div>
    </div>
    <div class="events__footer">
      <div class="events__excerpt">Do you want more?</div>
      <button class="btn-reset events__btn btn">Explore all events</button>
    </div>
  </div>
</section>
