<header class="header">
  <div class="container header__container">
    <a href="#">
      <img
        loading="lazy"
        src="img/logo.svg"
        class="header__logo"
        width="130"
        height="22"
        alt="Логотип"
    /></a>

    <nav class="nav" title="Главное меню" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#about" class="nav__link" data-menu-item data-scroll
            >About Us</a
          >
        </li>
        <li class="nav__item">
          <a href="#courses" class="nav__link" data-menu-item data-scroll
            >Courses</a
          >
        </li>
        <li class="nav__item">
          <a href="#events" class="nav__link" data-menu-item data-scroll
            >Events</a
          >
        </li>
        <li class="nav__item">
          <a href="#blog" class="nav__link" data-menu-item data-scroll> Blog</a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link" data-menu-item data-scroll
            >Contacts</a
          >
        </li>
      </ul>
      <button
        class="btn-reset burger-close"
        aria-label="Закрыть меню"
        data-menu-close
      ></button>
    </nav>
    <div class="header__left">
      <button class="btn-reset btn header__consultation">
        Get consultation
      </button>
      <div>
        <img
          loading="lazy"
          src="img/person.svg"
          class="header__log-image"
          width="20"
          height="20"
          alt="perosn"
        />
        <div class="header__registration">
          <a href="#" class="registration__link">Log in </a><span>/</span>
          <a href="#" class="registration__link">Register</a>
        </div>
      </div>
    </div>

    <button
      class="btn-reset burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
