<section class="hero">
  <div class="container hero__container">
    <div class="hero__top">
      <div class="hero__contant">
        <button class="btn-reset btn__play"></button>
        <div class="hero__title">
          Enjoy studying with Createx Online Courses
        </div>
        <div class="hero__btns">
          <button class="btn-reset btn--nc hero__about">About us</button>
          <button class="btn-reset btn hero__explore">Explore courses</button>
        </div>
      </div>
      <div class="hero__picture">
        <picture>
          <source srcset="img/hero.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/hero.png"
            class="image"
            width="602"
            height="551"
            alt="hero-pic"
          />
        </picture>
      </div>
    </div>
    <div class="hero__bottom static">
      <div class="static__item">
        <p class="static__digit">1200</p>
        <p>Students graduated</p>
      </div>
      <div class="static__dot"></div>
      <div class="static__item">
        <p class="static__digit">84</p>
        <p>Completed courses</p>
      </div>
      <div class="static__dot"></div>
      <div class="static__item">
        <p class="static__digit">16</p>
        <p>Qualified tutors</p>
      </div>
      <div class="static__dot"></div>
      <div class="static__item">
        <p class="static__digit">5</p>
        <p>Years of experience</p>
      </div>
    </div>
  </div>
</section>
