<section class="subscribe section__offset" id="contact">
  <div class="container subscribe__container">
    <div class="subscribe__tagline tagline">Don’t miss anything</div>
    <div class="subscribe__title title">
      Subscribe to the Createx School announcements
    </div>
    <div class="sibscribe__contant">
      <div class="subscribe__form">
        <form action="#" class="form">
          <label class="form__label">
            <input
              type="email"
              name="email"
              class="input-reset form__input input-email"
              placeholder="E-mail"
            />
          </label>
          <button class="btn-reset form__btn btn">Отправить</button>
        </form>
        <button class="btn-reset form__btn1 btn">Отправить</button>
      </div>
    </div>
  </div>
</section>
