// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Lato", sans-serif;
  --content-width: 1230px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --accent-color: #ff4242;
  --gray-900: #1e212c;
  --gray-800: #424551;
  --gray-700: #787a80;
  --gray-600: #9a9ca5;
}
